---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { t, changeLanguage } from "i18next";
changeLanguage("en");
---

<BaseLayout>
  
  <h1>{t('services.title')}</h1>
  <p>{t('services.description')}</p>

</BaseLayout> 