---

---

<form method="POST" action="/api/send-email.json" enctype="application/x-www-form-urlencoded">
  <div style=""><input size="40" type="email" name="email" id="email" placeholder="Enter Email..." required></div>
 <div><input type="text" name="firstName" id="firstName" placeholder="Enter Your Name..." required></div>
  
  <div><textarea name="message" id="message" placeholder="Enter Your Message Here..." required /></div>
  <button type="submit">Send</button>
</form>